@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100;200;300;400;500;600;700;900&display=swap');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #242424;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.App{
  min-height:100%;
  position:relative;
  background-color: rgb(245, 245, 245);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 7.5vh;
  padding-left: 20px;
  padding-right: 20px;
  background: #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  font-family: 'Bitter', serif;
}

header > h1 {
  font-size: 1.75em;
  font-weight: 900;
  letter-spacing: 0.5px;
}

#search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

input[type=text] {
  padding: 10px 10px;
  margin: 8px;
  border: 2px solid #dedede;
  border-radius: 10px;
  box-sizing: border-box;
  width: 250px;
}

input[type=image] {
  width: 25px;
  height: 25px;
  padding: 5px;
  cursor: pointer;
}

#subheader-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

#subheader-tab {
  list-style-type: none;
  display: flex;
}

#subheader-tab > li {
  font-family: 'Bitter', serif;
  font-weight: 700;
  font-size: 1.2em;
  color: rgb(75, 75, 75);
  padding: 10px;
  cursor: pointer;
}

#subheader-tab > li:hover {
  color: black;
  transform: scale(1.05);
}

#subheader-decades {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 350px;
}

#subheader-decades > a {
  font-family: 'Bitter', serif;
  font-weight: 700;
  color: rgb(138, 138, 138);
  padding: 5px;
  cursor: pointer;
}

#subheader-decades > a:hover {
  color: black;
  transform: scale(1.05);
}

.title {
  font-family: 'Bitter', serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title > h1 {
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 1em;
  font-size: 2.5em;
}

.title > p {
  margin-top: 0;
}

#film-quote{
  color: #242424;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.1rem;
  font-style: italic;
  margin: 10px;
}

.page-list {
  list-style-type: none;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 20px;
  margin-left: 50px;
  margin-right: 50px;
  transform: scale(0.95);
}

.page-list > li {
  color: rgb(138, 138, 138);
  padding: 15px;
  margin: 5px;
  width: 0.5em;
  height: 0.5em;
  font-weight: 700;
  line-height: 0.5em;
  cursor: pointer;
}

.page-list > li:hover {
  color: black;
  transform: scale(1.05);
}

.page-list > .dot {
  cursor: default;
}

.page-list > .dot:hover {
  cursor: default;
  color: rgb(138, 138, 138);
  transform: scale(1);
}

.page-list > .current-page {
  color: black;
  transform: scale(1.05);
}

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: stretch;
  margin: auto;
  padding:10px;
  padding-bottom:60px;
  min-height: 50vh;
}

.card{
  background: white;
  border: 2px solid rgb(218, 218, 218);
  border-radius: 10px;
  width: 47.5vw;
  margin: 5px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.card > img {
  padding: 0;
  padding-right: 1.5em;
  width: 20em;
  height: 100%;
  object-fit: cover;
}

.card > .text {
  margin: 0.5em;
  padding: 2em;
  padding-left: 1em;
}

.text > h1 {
  font-family: 'Bitter', serif;
  font-size: 2em;
  line-height: 1.1;
}

.text > h2 {
  color: rgb(75, 75, 75);
  font-size: 1.2em;
  line-height: 1em;
}

.text > .byline {
  font-style: italic;
  color: rgb(75, 75, 75);
}

.text > p {
  font-size: 0.95em;
  line-height: 1.1;
}

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: 'Bitter', serif;
  cursor: pointer;
  transition: border-color 0.25s;
}

.button:hover {
  border-color: #393fa0;
  color: #393fa0;
  background-color: #e2e2e2;
}
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.circular-progress-bar {
  width: 4.5em;
  position: absolute;
  align-self: flex-end;
  margin: 0.5em;
  border-radius: 50%;
}

.circular-progress-bar:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px 2px rgb(255, 255, 255);
}

.CircularProgressbar-text{
  font-family: 'Bitter', serif;
  font-weight: 900;
}

.fav-star {
  cursor: pointer;
  position: absolute;
  margin: 1em;
  width: 2em;
  align-self: flex-start; 
}

footer {
  background-color:#242424;
  color: white;
  bottom: 0;
  width: 100%;
  height: 20vh;   /* Height of the footer */
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Bitter', serif;
}

footer > p {
  margin-top: 0;
}

footer > a {
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  opacity: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(138, 138, 138);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(75, 75, 75);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    background-color: #ffffff;
  }
  footer > a:hover {
    color: #a1a5ff;
  }
  .button {
    background-color: #efefef;
  }
}
